@media screen and (max-width:1440px) {
    .wrapper {
        max-width: none;
        width: auto;
        margin: 0 208px;
    }
}
@media screen and (max-width:1367px) {
    .menu_nav_bar_block {
        gap: 0;
        justify-content: space-between;
    }
}
@media screen and (max-width:1240px) {  
    .social_icon_block {
        padding-left: 15px;
        margin-left: 15px;
    }
    .wrapper  {
        margin: 0 150px;
    }
}
@media screen and (max-width:1024px) {
    .wrapper {
        margin: 0 20px;
    }
    .menu_nav_bar_block {
        display: none;
    }
    header .logo_block {
        margin-right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .menu_logo_block {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .burger_btn {
        display: block;
    }
    
    footer .menu_logo_block {
        flex-direction: column;
        justify-content: center;
    }
    .footer_logo_menu_block {
        flex-direction: column;
        align-items: center;
    }
    .social_icon_block {
        padding-top: 15px;
        flex-direction: unset;
        padding-left: 0;
        margin-left: 0;
        margin-top: 15px;
        border-left: none;
    }
    .soc_centr {
        margin: 0 26px;
    }
    footer .logo_block  {
        justify-content: center;
        margin: 15px 0;
    }
    .footer_logo_menu_block .logo_block {
        margin-right: 0;
    }
    footer .menu_logo_block {
        border-top: none;
    }
    .stories_list_page_story_block_photo {
        min-width: 300px;
    }
    .stories_list_page_story_block {
        margin-bottom: 25px;
    }
    .bg_bottom_right {
        right: -74px;
    }
}
@media screen and (max-width:768px) {
    .text_btn_block span {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .text_btn_block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .donat_our_program_block_info {
        flex-direction: column;
    }
    .wrapper {
        margin: 0 10px;
    }
    .story_photo_block  {
        height: 315px;
    }
    .logo_block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .ref_mentors_donation_block {
        margin-bottom: 20px;
    }
    .logo_block a {
        width: 80px;
    }
    .goal_block   {
        margin-right: 20px;
    }
    .goal_our_solution_block {
        margin-bottom: 20px;
    }
    .general_title {
        font-size: 25px;
    }
    .social_icon_block {
        margin-top: 0;
    }
    .stories_list_page_story_block {
        flex-direction: column;
    }
    .stories_list_page_story_block_info {
        width: 100%;
    }
    .stories_list_page_story_block {
        gap: 10px;
    }
    .ref_mentors_donation_block {
        text-align: center;
    }
    .support_project_block {
        padding-top: 20px;
    }
}
@media screen and (max-width:588px) {
    .stories_list_page_story_block_text {
        font-size: 12px;
    }
    .general_title {
        font-size: 14px;
    }
    .menu_logo_block {
        margin-bottom: 10px;
    }
    .footer_logo_menu_block .logo_block {
        margin-top: 0;
    }
    .footer_nav_bar_block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_nav_bar_block a {
        margin-bottom: 12px;
    }
    .education {
        font-size: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:414px) {
    .stories_list_page_story_block_photo {
        min-width: auto;
    }
    .general_title {
        font-size: 16px;
    }
    .stories_list_page_story_block_info .education {
        margin-bottom: 10px;
    }
    .from_name {
        font-size: 12px;
    }
    .read_more_btn {
        font-size: 12px;
    }
    
}