* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Commissioner_Light";
}
*:focus {
    outline: none;
}
body {
    min-width: 320px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    background-color: #F4EDEA;
}
@font-face {
    font-family: "Commissioner_Bold";
    src: url("../fonts/Commissioner-Bold.ttf");
}
@font-face {
    font-family: "Commissioner_Light";
    src: url("../fonts/Commissioner-Light.ttf");
}
@font-face {
    font-family: "Commissioner_Medium";
    src: url("../fonts/Commissioner-Medium.ttf");
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    transition: all 300ms  ease-out;
}
a:hover {
   transition: all 300ms  ease-in;
}
.d_none {
    display: none;
}
header {
    overflow-x: hidden;
}
footer {
    position: relative;
    overflow: hidden;
}


.menu_logo_block {
    display: flex;
    align-items: flex-end;
    margin-top: 87px;
    margin-bottom: 150px;
}
.wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.logo_block {
    width: 148px;
    height: auto;
    margin-right: 44px;
}
.menu_nav_bar_block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 58px;
}
.menu_nav_bar_block a {
    font-family: "Commissioner_Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
    transition: all 300ms ease-out;
}
.about_amia {
    font-weight: bold!important;
}
.category_active {
    color: #E11737!important;
    font-weight: bold!important;
}
.menu_nav_bar_block a:hover {
    color: #E11737;
    transition: all 300ms ease-in;
}
.menu_nav_bar_block::after {
    content: "";
    position: absolute;
    width: 170%;
    border-top: 1px solid #191923;
    bottom: -16px;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 300ms;
    transform: translate3d(0, -150vh, 0);
}
.menu_active {
    position: fixed;
    transition: all 300ms;
    transform: translate3d(0, 0, 0);
}
.menu_media_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px 0;
}
.menu_media_block a {
    font-family: "Commissioner_Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
    transition: all 300ms ease-out;
    margin-top: 20px;
}
.menu_media_block a:hover {
    font-weight: bold;
    transition: all 300ms ease-in;
}
.close_menu {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    transition: all 300ms ease-out;
}
.close_menu:hover {
    color: #E11737;
    transition: all 300ms ease-in;
    cursor: pointer;
}

.page_adress_bloch a {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #E11737;
}
.page_adress_bloch_span {
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #E11737;
}
.page_adress_bloch a:hover {
    color: black;
}
.general_title {
    font-family: "Commissioner_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #191923;
}
.education {
    width: max-content;
    padding: 4px;
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #E11737;
    border: 1px solid #E11737;
    transition: all 300ms ease-out;
}
.education:hover {
    color: #E11737;
    background-color: transparent;
    transition: all 300ms ease-in;
}


.donat_our_program_block {
    width: 100%;
    background-color: #191923;
    padding: 20px 0;
}
.donat_our_program_block_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.support_project_block a  {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #E11737;
}
.support_project_block a:hover  {
    color: white;
}
.donat_our_program_block_info a:hover svg path {
    stroke: white;
    transition: all 300ms ease-in;
}
.donat_our_program_block_info a svg path {
    transition: all 300ms ease-out;
}
.text_btn_block span {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 16px;
}
.text_btn_block a {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    z-index: 2;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}
.text_btn_block a svg {
    position: absolute;
    left: -17px;
    top: -10px;
    z-index: -1;
    transition: all 300ms ease-out;
}
.text_btn_block a:hover  {
    color: #E11737;
}

footer .menu_logo_block {
    border-top: 1px solid #191923;
}
.footer_nav_bar_block {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.footer_nav_bar_block a {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
    transition: all 300ms ease-out;
}
.category_active {
    color: #E11737!important;
    font-weight: bold!important;
}
.footer_nav_bar_block a:hover {
    color: #E11737;
    transition: all 300ms ease-in;
}
.social_icon_block {
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #191923;
    padding-left: 37px;
    margin-left: 42px;
}
.social_icon_block a:hover svg path{
    fill: #E11737;
    transition: all 300ms ease-in;
}
.soc_centr {
    margin: 26px 0;
}
.footer_block {
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
}
.footer_logo_menu_block  {
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.footer_logo_menu_block .logo_block  {
    margin-right: 15px;
}



.stories_list_page_story_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
    gap: 70px;
}
.stories_list_page_story_block_photo img {
    border-radius: 24px;
}
.title_education_info_text_block {
    display: flex;
    flex-direction: column;
}
.stories_list_page_story_block_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #696B80;
}
.stories_list_page_story_block_info {
    width: 474px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.stories_list_page_story_block_info .education {
    margin-top: 12px;
    margin-bottom: 24px;
}
.from_name {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #181924;
    margin-bottom: 12px;
}
.read_more_btn {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #E11737;
}
.read_more_btn:hover {
    color: black;
}
.stories_from_to_block {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}
.from_name_read_block {
    margin-top: 25px;
}
.ref_mentors_donation_block  {
    width: 130px;	
    display: flex;
    flex-direction: column;
}
.ref_mentors_donation_title {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    color: #F4EDEA;
    margin-bottom: 4px;
}
.ref_mentors_donation_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bg_bottom_right {
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 180px;
    height: auto;
}