.loader_animation  {
    animation-name: load;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes load { 
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loader_big   {
    position: relative;
    overflow: hidden;
    z-index: 3;
}
.loader_main {
    position: absolute;
    bottom: -120px;
    right: -190px;
}
.about_amia_video_block {
    position: relative;
}
main{
    overflow: hidden;
}
.bg_section_block {
    position: relative;
}
.bg_left_big {
    position: absolute;
    left: 0;
    top: -120px;
    z-index: -1;
}

.menu_logo_block {
    margin-bottom: 62px;
}
.about_amia_video_block {
    margin: 0 23px;
    margin-bottom: 120px;
}
.about_amia_video_text_block {
    width: 100%;
    height: 622px;
    background: rgba(24, 25, 36, 0.3);
    border-radius: 24px;
}
.about_overreview_background_block {
    margin-bottom: 120px;
}
.about_overreview_background_infotext {
    margin-bottom: 100px;
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #181924;
}
.about_overreview_bg_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 84px;
}
.about_background_block, .about_overreview_block {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.about_overreview_bg_block span {
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #696B80;
}



.video_block {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
}
.video_centr {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 87px;
    left: 188px;
    width: 489px;
}
.video_centr h2 {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;
    color: #FCFCFC;
    margin-bottom: 56px;
}
.video_centr_info_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-transform: capitalize;
    color: #FCFCFC;
    margin-top: 12px;
    margin-bottom: 42px;
}
.video_popup_play svg circle{
    transition: all 300ms ease-out;
}
.video_popup_play {
    cursor: pointer;
    width: max-content;
}
.video_popup_play:hover svg circle{
    fill: white;
    transition: all 300ms ease-in;
}
.video_popup_play svg path{
    transition: all 300ms ease-out;
}
.video_popup_play:hover svg path{
    fill: #E11737;
    transition: all 300ms ease-in;
}
.video_block video {
    width: 100%;
    object-fit: cover;
    height: 100%;
    cursor: pointer;    
    border-radius: 24px;
}
.video-popup {
    z-index: 10;
    display: none;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 10px 10px black;
}
.popup-bg {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
}
.popup-content {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 622px;
}



.stories_list_page_story_block {
    margin-top: 100px;
}
.our_goal_stories {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #E11737;
    margin-bottom: 12px;
}
.stories_from_to_block{
    justify-content: flex-start;
    gap: 40px;
}
.our_goal_stories_info_title {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #181924;
}
.our_goal_stories_info {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #181924;
    margin-bottom: 24px;
}
.page_adress_bloch {
    display: flex;
    flex-direction: column;
    max-width: 474px;
    width: 100%;
}
.support_a_project_info_text {
    margin-top: 12px;
    margin-bottom: 72px;
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #181924;
}
.expert_architector_block {
    display: flex;
    flex-direction: column;
    gap: 100px;
}
.expert_architextor_people_photo_block {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.expert_architextor_people_photo_block::after {
    content: "";
    position: absolute;
    max-width: 1024px;
    width: 100%;
    top: 40px;
    z-index: 3;
    height: 1px;
    background-color: #191923;;
}
.expert_architextor_people_photo {
    z-index: 5;
    width: 236px;
    height: 236px;
    border-radius: 24px;
}
.expert_architextor_people_block {
    max-width: 474px;
    width: 100%;
}
.expert_architextor_people_photo img {
    border-radius: 24px;
}
.expert_name {
    margin-bottom: 24px;
}
.expert_name span {
    font-family: "Commissioner_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #191923;
}
.expert_name_red {
    color: #E11737!important;
}
.expert_city span {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #181924;
}
.expert_text_info {
    margin-top: 12px;
}
.expert_text_info span {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #696B80;
}
.revers_bloch {
    flex-direction: row-reverse;
}


.about_amia::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 400px;
    background-color: #191923;
    top: -150px;
    right: 100px;
}
.about_amia::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 400px;
    background-color: #191923;
    top: -150px;
    right: 250px;
}