@media screen and  (max-width:1420px) {
    .about_amia::after {
        display: none;
    }
    .about_amia::before {
        display: none;
    }
}
@media screen and  (max-width:1024px) {
    .loader_main {
        display: none;
    }
    .about_amia_video_block {
        margin-top: 50px;
    }
    .popup-content {
        width: 730px;
        height: 414px;
    }
    .our_expert_section {
        margin-bottom: 50px;
    }
}
@media screen and  (max-width:768px) {
    .bg_left_big {
        display: none;
    }
    .stories_list_page_story_block {
        margin-top: 30px;
    }
    .from_name_read_block {
        margin-top: 0;
    }
    .stories_from_to_block {
        flex-direction: column;
        gap: 15px;
    }
    .video_centr {
        top: 30px;
        left: 50px;
        width: 200px;
    }
    .video_centr h2 {
        margin-bottom: 15px;
        font-size: 20px;
    }
    .video_centr_info_text {
        margin-bottom: 24px;
        font-size: 16px;
    }
    .video_popup_play svg {
        width: 30px;
        height: 30px;
    }
    .about_overreview_background_block {
        margin-bottom: 50px;
    }
    .about_background_block, .about_overreview_block {
        gap: 12px;
    }
    .about_amia_video_text_block {
        height: 310px;
    }
    .about_overreview_bg_block {
        flex-direction: column;
        gap: 30px;
    }
    .about_overreview_bg_block span {
        font-size: 12px;
    }
    .about_overreview_background_infotext {
        font-size: 16px;
        margin-bottom: 30px;
    }
    .about_amia_video_block {
        margin-bottom: 30px;
    }
    .popup-content {
        width: 400px;
        height: 320px;
    }
    .revers_bloch {
        flex-direction: initial;
    }
    .expert_architextor_people_photo_block {
        flex-direction: column;
        gap: 20px;
    }
    .expert_architextor_people_photo_block::after {
        display: none;
    }
    .expert_architextor_people_photo {
        width: 100%;
    }
    .expert_architextor_people_block {
        max-width: none;
        width: 100%;
    }
    .expert_name {
        font-size: 20px;
    }
    .expert_text_info {
        font-size: 14px;
    }
    .expert_architector_block {
        gap: 50px;
    }
    .support_a_project_info_text {
        margin-bottom: 50px;
    }
}
@media screen and  (max-width:414px) {
    .popup-content {
        width: 260px;
        height: 260px;
    }
}