@media screen and (max-width:1340px) {
    .general_title {
        font-size: 25px;
    }
}
@media screen and (max-width:1024px) {
    .white_bg {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .page_adress_bloch {
        margin-bottom: 20px;
    }
    .general_title {
        font-size: 20px;
    }   
    .our_goal_stories_info {
        font-size: 12px;
    }
    .our_goal_stories_info_title {
        font-size: 14px;
    }
    .from_name_read_block {
        margin-top: 15px;
    }
    .bg_left {
        bottom: 10px;
        left: -350px;
    }
}