@media screen and (max-width:768px) {
    .goal_block   {
        margin-right: 20px;
    }
    .goal_our_solution_block {
        margin-bottom: 60px;
    }
    .from_to {
        font-size: 12px;
    }
    .success_stories_info_text {
        font-size: 18px;
        margin: 20px 0;
    }
    .from_to_block {
        margin-bottom: 25px;
    }
    .text_btn_block {
        margin-top: 0;
    }
    .goal_our_solution_block {
        flex-direction: column;
    }
    .goal_block {
        margin-right: 0;
        margin-bottom: 15px;
    }
    .bg_left {
        left: -150px;
    }
}
@media screen and (max-width:588px) {
    .success_stories_info_text {
        font-size: 12px;
    }
    .from_to {
        font-size: 10px;
        margin-bottom: 6px;
    }
    .from_to_block {
        margin-bottom: 15px;
    }
    .story_photo_block {
        padding-top: 15px;
        margin-bottom: 25px;
        height: 200px;
    }
    
    .goal_our_solution_block {
        margin-bottom: 20px;
    }
    .goal_our_solution_block_text {
        font-size: 12px;
    }
}