.story_photo_block  {
    padding-top: 24px;
    margin-bottom: 60px;
    width: 100%;
    height: 407px;
}
.story_photo_block img  {
    border-radius: 24px;
}
.general_title  {
    margin-bottom: 12px;
}
.success_stories_info_text {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #181924;
    margin-top: 71px;
    margin-bottom: 40px;
}
.from_to {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #181924;
    margin-bottom: 12px;
}
.from_to_block {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.goal_our_solution_block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}
.goal_block, .our_solution_block {
    display: flex;
    flex-direction: column;
}
.goal_block {
    margin-right: 84px;
}
.goal_our_solution_block_title {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #E11737;
    margin-bottom: 12px;
}

@font-face {
    font-family: "Work_sans";
    src: url("../fonts/WorkSans-Light.ttf");
}

.goal_our_solution_block_text {
    font-family: "Work_sans";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #696B80;
}
.goal_our_solution_block_text_small {
    font-size: 14px;
}
.bg_left {
    width: 255px;
    position: absolute;
    left: -100px;
    bottom: 200px;
}
main {
    overflow: hidden;
    position: relative;
}
.education span {
    color: #FFFFFF!important;
}
.education:hover span {
    color: #E11737!important;
}