main {
    overflow: hidden;
}
.white_bg {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}
.page_adress_bloch {
    margin-bottom: 50px;
}
.our_goal_stories_info  {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #181924;
    margin-bottom: 20px;
} 
.our_goal_stories_info_title {
    font-family: "Commissioner_bold";
    font-weight: bold;
}
.our_goal_stories {
    margin-bottom: 12px;
}
.our_goal_stories {
    font-family: "Commissioner_medium";
    color: #E11737;
}
.stories_from_to_block_love {
    justify-content: flex-start;
}
.stories_from_to_block a {
    margin-right: 40px;
}
.special_bg {
    position: relative;
}
.bg_left {
    width: 530px;
    position: absolute;
    bottom: -50px;
    left: -270px;
    z-index: -1;
    transform: rotate(300deg);
}


.education span {
    color: #FFFFFF!important;
}
.education:hover span {
    color: #E11737!important;
}