.sign_up_text_block {
    padding-top: 0;
}
.sign_up_text_block_info {
    margin-top: 0;
    margin-bottom: 0;
}
.expert_sign_up_form_block {
    margin-top: 219px;
}
.expert_sign_up_form_block {
    margin-bottom: 376px;
}
.police_agree a {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.police_agree a:hover {
    color: #E11737;
}
.form_sub_block button svg {
    width: 80px;
    height: 80px;
    position: absolute;
    top: -29px;
    left: 3px;
    z-index: -1;
}
.form_section_inp {
    margin-bottom: 35px;
}


@media screen and (max-width:1024px) {
    .expert_sign_up_form_block {
        margin-top: 0;
    }
    .expert_sign_up_form_block {
        margin-top: 30px;
    }
    .expert_sign_up_form_block {
        margin-bottom: 150px;
    }
}

@media screen and (max-width:530px) {
    .sign_up_form_block_text {
        margin: 0;
    }
    .sign_up_text_block {
        padding-top: 30px;
    }
}