.bg_bottom_right {
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 180px;
    height: auto;
    z-index: -1;
}
.brand_left_right_block {
    display: flex;
    justify-content: space-between;
}

.brand_left_block .page_adress_bloch span {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #181924;
    margin-bottom: 12px;
}
.brand_left_block {
    max-width: 477px;
    width: 100%;
}
.page_adress_bloch a:hover {
    color: black;
}
.brand_left_block .page_adress_bloch {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}



.view_more:hover {
    color: #E11737;
    transition: all 300ms ease-in;
}
.view_more {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: black;
    padding-bottom: 17px;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 300ms ease-out;
}
.expert_btn {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #E11737;
    padding-bottom: 17px;
    text-transform: uppercase;
    transition: all 300ms ease-out;
}
.expert_btn:hover {
    color: black;
    transition: all 300ms ease-in;
}
.brand {
    background-color: white;
    position: relative;
    padding-top: 120px;
}
.apply_usen_block {
    margin-bottom: 90px;
}
.brand_right_block {
    padding-top: 55px;
    padding-bottom: 100px;
}
.brand_right_block_fix {
    top: 40px;
    position: sticky;
}
.brand_right_block_fix_section {
    margin-bottom: 12px;
    padding-left: 46px;
}
.brand_right_block_fix_section a {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #E11737;
    width: 102px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #E11737;
    padding: 2px;
}
.brand_right_block_fix_section_active  a {
    color: white;
    background-color: #E11737;
}
.brand_right_block_fix_section:hover  a {
    color: white;
    background-color: #E11737;
}
.brand_right_block_fix_section_active:hover  a {
    color: #E11737;
    background-color: transparent;
}
.vertical {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    padding-right: 30px;
    padding-right: 10px;
    height: 242px;
    border-left: 1px solid #191923;
    position: absolute;
    top: 0;
}
.vertical a {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #191923;
}
.vertical a:hover {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #E11737;
}



.stories_list_page_story_block_info .education {
    margin-top: 12px;
    margin-bottom: 24px;
}
.support_a_project_info_text {
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #181924;
    margin-top: 12px;
}
.page_adress_bloch {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.loader_animation  {
    width: 200px;
    height: 195px;
    position: absolute;
    right: -90px;
    bottom: -25px;
    animation-name: load;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes load { 
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.apply_usen_info_block {
    margin-top: 14px;
    margin-bottom: 25px;
}
.education_deadline_city_block {
    display: flex;
    align-items: center;
    gap: 36px;
}
.deadline_city_block_bold {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #191923;
}
.about_amia_view_more_block {
    text-align: right;
}
.deadline_city_block_light {
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #696B80;
    margin-left: 5px;
}
.apply_usen_info_text_block {
    margin-top: 25px;
}
.apply_usen_info_text_block_bold {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #191923;
}
.apply_usen_info_text_block_light {
    font-family: "Commissioner_light";
    font-style: normal;
    font-size: 16px;
    color: #191923;
}


.loader_big   {
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
    z-index: 5;
}
.loader_main {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}
main {
    position: relative;
}