body {
    background-color: black;
    background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
}
.burger_btn svg path {
    fill: white;
}
.menu_nav_bar_block a {
    color: white;
}
.menu_nav_bar_block::after {
    content: none;
}
.menu_logo_block {
    margin-bottom: 38px;
}
.expert_sign_up_form_block{
    display: flex;
    gap: 61px;
    justify-content: space-between;
}
.sign_up_text_block {
    width: 489px;
    padding-top: 100px;
}
.sign_up_text_block h1 {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;
    color: #FCFCFC;
}
.sign_up_text_block_info{
    margin-top: 56px;
    margin-bottom: 146px;
}
.page_adress_bloch a:hover{
    color: white;
}
.page_adress_bloch {
    margin-bottom: 12px;
}
.sign_up_text_block_info span  {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-transform: capitalize;
    color: #FCFCFC;
}



.sign_up_form_block {
    padding: 0 46px;
    padding-top: 32px;
    width: 474px;
    background: rgba(196, 196, 196, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 20px;
}
.sign_up_form_block {
    margin-bottom: 20px;
}
.form_section_inp {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form_section_inp label {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.form_section_inp label span {
   color: black;
}
.form_section_inp input {
    padding: 15px 20px;
    width: 382px;
    height: 52px;
    color: white;
    background-color: rgba(34, 19, 117, 0.2);
    border: 1px solid rgba(34, 19, 117, 0.2);
    border-radius: 12px;
}
.form_section_inp input::placeholder {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #B29ABC;
}
.number_hours_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.number_hours_block input {
    width: 185px;
}
.number_inp {
    width: 121px!important;
}
.number_inp::placeholder {
    color: white;
}
.number_inp_log {
    width: 249px!important;
}

textarea {
    resize: none;
    padding: 15px 20px;
    width: 382px;
    min-height: 95px;
    background-color: rgba(34, 19, 117, 0.2);
    border: 1px solid rgba(34, 19, 117, 0.2);
    border-radius: 12px;
    color: white;
}
textarea::placeholder {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #B29ABC;
}
.form_sub_block {
    margin-bottom: 22px;
    text-align: center;
}
.form_sub_block button {
    z-index: 2;
    background-color: transparent;
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: transparent;
    position: relative;
    cursor: pointer;
    transition: all 300ms ease-out;
}
.form_sub_block button:hover {
    color: #E11737;
    transition: all 300ms ease-in;
}
.form_sub_block button svg path {
    transition: all 300ms ease-out;
}
.form_sub_block button:hover svg path {
    stroke: white;
    transition: all 300ms ease-in;
}
.form_sub_block button svg {
    position: absolute;
    top: -12px;
    left: -23px;
    z-index: -1;
}
.agree_block  {
    text-align: center;
    margin-bottom: 49px;
}
.police_agree {
    width: 100%;
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #FFFFFF;
}






.custom-select {
    position: relative;
    font-family: "Commissioner_light";
}
.custom-select select {
    display: none; 
}
.select-selected {
    color: white;
    padding: 15px 20px;
    height: 52px;
    width: 382px;
    background-color: rgba(34, 19, 117, 0.2);
    border: 1px solid rgba(34, 19, 117, 0.2);
    border-radius: 12px;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 22px;
    right: 10px;
    width: 16px;
    height: 16px;
    background-image: url(../img/down.png);
    background-repeat: no-repeat;
}
.select-selected.select-arrow-active:after {
    background-image: url(../img/up.png);
    background-repeat: no-repeat;
    top: 18px;
}
.select-items div,.select-selected {
    color: #B29ABC;
    padding: 15px 20px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
.select-items {
    z-index: 10;
    position: absolute;
    overflow: auto;
    background-color:white;
    top: 110%;
    width: 101%;
    height: 150px;
    left: 0;
    right: 0;
    border-radius: 0 0 12px 12px;
}
  /* .select-items::-webkit-scrollbar {
    display: none;
}  */
.select-items::-webkit-scrollbar {
    width: 8px;
}
.select-items::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 20px;
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}



.phone_number_select .select-selected {
    font-family: "Commissioner_light";
    color: white;
    padding: 15px 20px;
    height: 52px;
    width: 121px;
    background-color: rgba(34, 19, 117, 0.2);
    border: 1px solid rgba(34, 19, 117, 0.2);
    border-radius: 12px;
}

.number_inp_log::-webkit-inner-spin-button, 
.number_inp_log::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.select_selected_jq {
    border-radius: 12px 12px 0 0!important;
}





.quantity {
    position: relative;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.quantity input {
    position: relative;
    padding: 15px 20px;
    width: 185px;
    height: 52px;
    color: white;
    background-color: rgba(34, 19, 117, 0.2);
    border: 1px solid rgba(34, 19, 117, 0.2);
    border-radius: 12px;
}
.quantity input:focus {
    outline: 0;
}
.quantity-nav {
    float: left;
    height: 42px;
}
.quantity-button {
    right: 0;
    cursor: pointer;
    width: 10px;
    height: auto;
    text-align: center;
    color: white;
    font-size: 13px;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.quantity-button.quantity-up {
    position: absolute;
    height: 10px;
    top: 15px;
    background-image: url(../img/up+.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.quantity-button.quantity-down {
    position: absolute;
    bottom: 10px;
    height: 10px;
    background-image: url(../img/down-.png);
    background-repeat: no-repeat;
    background-size: contain;
}
  
  
.step_one_two {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    height: 4px;
    background-color: rgba(244, 237, 234, 0.2);
    border-radius: 3px;
    border: 1px solid rgba(244, 237, 234, 0.2);
}
.full_step_white {
    background: white;
}
.step_grey {
    background: #787878;
}
.step_info_one_two {
    display: flex;
    margin-bottom: 6px;
}
.one_info , .two_info {
    width: 50%;
    text-align: right;
}
.step_info_one_two span {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}