@media screen and (max-width:1024px) {
    .expert_sign_up_form_block {
        flex-direction: column;
        gap: 30px;
    }
    .sign_up_text_block {
        width: 100%;
    }
    .sign_up_text_block {
        padding-top: 50px;
    }
    .sign_up_text_block_info {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .step_one_two {
        margin-bottom: 30px;
    }
    .sign_up_form_block_text {
        margin: 0 auto;
    }
}
@media screen and (max-width:530px) {
    .sign_up_text_block h1 {
        font-size: 30px;
    }
    .sign_up_text_block_info span {
        font-size: 20px;
    }
    .sign_up_form_block {
        width: 100%;
    }
    .form_section_inp input {
        width: 100%;
    }
    .number_hours_block input {
        width: 100%;
    }
    .number_hours_block {
        gap: 10px;
        justify-content: flex-start;
    }
    .number_inp_log {
        width: 100%!important;
    }
    .phone_number_select select {
        width: 100%;
    }
    .sign_up_form_block {
        width: 100%;
    }
    .mentoring_select select {
        width: 100%!important;
    }
    textarea {
        width: 100%;
    }
    .select-selected {
        width: 100%;
    }
}
@media screen and (max-width:460px) {
    .number_hours_block {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }
    .number_hours_block {
        display: inherit;
    }
    .sign_up_form_block {
        padding: 0 20px;
        padding-top: 20px;
    }
    .phone_number_select .select-selected {
        width: 100%;
      }
    
}