@media screen and (max-width:1440px) {
    .wrapper {
        max-width: none;
        width: auto;
        margin: 0 208px;
    }
}
@media screen and (max-width:1240px) {
    .wrapper  {
        margin: 0 150px;
    }
}
@media screen and (max-width:1130px) {
    .wrapper  {
        margin: 0 80px;
    }
}
@media screen and (max-width:1024px) {
    .education_deadline_city_block {
        gap: 15px;
    }
    .apply_usen_block {
        margin-bottom: 40px;
    }
    .loader_animation  {
        display: none;
     }
    .search_project_block {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .support_a_project_info_text {
        font-size: 16px;
    }
    .support_a_project_info_block {
        margin-top: 30px;
    }
    .wrapper {
        margin: 0 20px;
    }
    .brand {
        margin-bottom: 50px;
    }
    .page_adress_bloch {
        margin-bottom: 25px;
    }
    .ref_mentors_donation_block {
        text-align: center;
    }
    .brand_right_block {
        display: none;
    }
    .brand {
        padding-top: 40px;
    }
    .brand_left_right_block {
        justify-content: center;
    }
}
@media screen and (max-width:680px) {
    .education_deadline_city_block {
        flex-direction: column;
        align-items: flex-start;
    }
    .apply_usen_info_text_block_bold {
        font-size: 14px;
    }
    .apply_usen_info_text_block_light {
        font-size: 13px;
    }
    .brand_left_block .page_adress_bloch {
        margin-bottom: 25px;
    }
    .brand {
        margin-bottom: 0;
    }
    .stories_list_page_story_block_spec {
        margin: 30px 0;
    }
    .wrapper {
        margin: 0 10px;
    }
}
@media screen and (max-width:414px) {
    .brand {
        margin-bottom: 25px;
    }
    .view_more {
        font-size: 12px;
    }
    .expert_btn {
        font-size: 12px;
    }
    .brand_left_block .page_adress_bloch span {
        font-size: 16px;
    }
}