.bg_bottom_right {
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 180px;
    height: auto;
    z-index: -1;
}
.brand_left_right_block {
    display: flex;
    justify-content: space-between;
}


.brand_left_block {
    width: 100%;
}
.page_adress_bloch a {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #E11737;
}
.page_adress_bloch a:hover {
    color: black;
}




.brand_left_right_block {
    margin-bottom: 150px;
}



.stories_list_page_story_block_info .education {
    margin-top: 12px;
    margin-bottom: 24px;
}
.support_a_project_info_text {
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #181924;
    margin-top: 12px;
}
.page_adress_bloch {
    margin-bottom: 24px;
}

.loader_animation  {
    width: 200px;
    height: 195px;
    position: absolute;
    right: -90px;
    bottom: -25px;
    animation-name: load;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes load { 
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.city_deadline_block {
    display: flex;
    align-items: center;
    gap: 36px;
}
.apply_usen_info_block {
    margin-top: 14px;
    margin-bottom: 25px;
}
.education_deadline_city_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.deadline_city_block_bold {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #191923;
}
.deadline_city_block_light {
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #696B80;
    margin-left: 5px;
}
.apply_usen_info_text_block {
    margin-top: 73px;
    margin-bottom: 32px;
}
.apply_usen_info_text_block_bold {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #191923;
}
.apply_usen_info_text_block_light {
    font-family: "Commissioner_light";
    font-style: normal;
    font-size: 16px;
    color: #191923;
    color: #696B80;
}

.bg_left {
    width: 255px;
    position: absolute;
    left: -100px;
    top: 150px;
}
main {
    overflow: hidden;
    position: relative;
}

.qualification_block {
    margin-bottom: 20px;
}
.req_qualification_block {
    margin-bottom: 50px;
}
.req_qualification_block_section {
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.req_qualification_block h4 {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #191923;
    margin-bottom: 12px;
}
.req_qualification_block span {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #191923;
    align-items: baseline;
    display: flex;
}
.req_qualification_block span svg {
   margin-right: 24px;
   
}





.text_btn_block {
    text-align: center;
}
.brand_left_block .text_btn_block a {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
}
.brand_left_block .text_btn_block a:hover {
    color: #E11737;
}
.text_btn_block a {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}
.text_btn_block a svg {
    position: absolute;
    left: -20px;
    top: -15px;
    transition: all 300ms ease-out;
}
.text_btn_block a:hover  {
    color: #E11737;
}
.text_btn_block a svg path {
    transition: all 300ms ease-out;
}
.brand_left_block .text_btn_block a:hover svg path {
    stroke: black;
    transition: all 300ms ease-in;
}