* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Commissioner_Light";
}
*:focus {
    outline: none;
}
body {
    min-width: 320px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    background-color: #F4EDEA;
}
@font-face {
    font-family: "Commissioner_Bold";
    src: url("../fonts/Commissioner-Bold.ttf");
}
@font-face {
    font-family: "Commissioner_Light";
    src: url("../fonts/Commissioner-Light.ttf");
}
@font-face {
    font-family: "Commissioner_Medium";
    src: url("../fonts/Commissioner-Medium.ttf");
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    transition: all 300ms  ease-out;
}
a:hover {
   transition: all 300ms  ease-in;
}
.d_none {
    display: none;
}
header {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #E5E5E5;
    background-image: url(../img/Group\ 7974.png);
    background-repeat: no-repeat;
    background-size: contain;
}



footer {
    position: relative;
    overflow: hidden;
}


.find_it_first_block form a:hover svg path {
    stroke: white;
}

.menu_logo_block {
    display: flex;
    align-items: flex-end;
    margin-top: 85px;
    margin-bottom: 150px;
}
.wrapper {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
.logo_block {
    width: 148px;
    height: auto;
    margin-right: 44px;
}
.menu_nav_bar_block {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    gap: 59px;
}
.menu_nav_bar_block a {
    font-family: "Commissioner_Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
    transition: all 300ms ease-out;
}
.about_amia {
    font-weight: bold!important;
}
.category_active {
    color: #E11737!important;
    font-weight: bold!important;
}
.menu_nav_bar_block a:hover {
    color: #E11737;
    transition: all 300ms ease-in;
}
.menu_nav_bar_block::after {
    content: "";
    position: absolute;
    width: 160%;
    border-top: 1px solid #191923;
    bottom: -16px;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    transition: all 300ms;
    transform: translate3d(0, -150vh, 0);
}
.menu_active {
    position: fixed;
    transition: all 300ms;
    transform: translate3d(0, 0, 0);
}
.menu_media_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 30px 0;
}
.menu_media_block a {
    font-family: "Commissioner_Medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
    transition: all 300ms ease-out;
    margin-top: 20px;
}
.menu_media_block a:hover {
    font-weight: bold;
    transition: all 300ms ease-in;
}
.close_menu {
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    transition: all 300ms ease-out;
}
.close_menu:hover {
    color: #E11737;
    transition: all 300ms ease-in;
    cursor: pointer;
}

.page_adress_bloch a {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #E11737;
}
.page_adress_bloch a:hover {
    color: black;
}
.general_title {
    font-family: "Commissioner_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #191923;
}
.education {
    width: max-content;
    padding: 4px;
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #E11737;
    border: 1px solid #E11737;
    transition: all 300ms ease-out;
}
.education:hover {
    color: #E11737;
    background-color: transparent;
    transition: all 300ms ease-in;
    font-weight: bold;
}


.donat_our_program_block {
    width: 100%;
    background-color: #191923;
    padding: 25px 0;
}
.donat_our_program_block_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.support_project_block a  {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #E11737;
}
.support_project_block a:hover  {
    color: white;
}
.donat_our_program_block_info a:hover svg path {
    stroke: white;
    transition: all 300ms ease-in;
}
.text_btn_block span {
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 16px;
}
.text_btn_block a {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    z-index: 2;
    text-transform: uppercase;
    color: #FFFFFF;
    position: relative;
}
.text_btn_block a svg {
    position: absolute;
    left: -17px;
    top: -10px;
    z-index: -1;
    transition: all 300ms ease-out;
}
.text_btn_block a:hover  {
    color: #E11737;
}

footer .menu_logo_block {
    border-top: 1px solid #191923;
}
.footer_nav_bar_block {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.footer_nav_bar_block a {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
    transition: all 300ms ease-out;
}
.category_active {
    color: #E11737!important;
    font-weight: bold!important;
}
.footer_nav_bar_block a:hover {
    color: #E11737;
    transition: all 300ms ease-in;
}
.social_icon_block {
    padding-top: 33px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #191923;
    padding-left: 37px;
    margin-left: 42px;
}
.social_icon_block a:hover svg path{
    fill: #E11737;
    transition: all 300ms ease-in;
}
.soc_centr {
    margin: 26px 0;
}
.footer_block {
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 50px;
}
.footer_logo_menu_block  {
    width: 100%;
    display: flex;
    align-items: flex-end;
}
.footer_logo_menu_block .logo_block  {
    margin-right: 15px;
}


.text_btn_block a svg path {
    transition: all 300ms ease-out;
}

.stories_list_page_story_block {
    display: flex;
    justify-content: space-between;
    gap: 73px;
}
.stories_list_page_story_block_photo img {
    border-radius: 24px;
}
.title_education_info_text_block {
    display: flex;
    flex-direction: column;
}
.stories_list_page_story_block_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #696B80;
}
.stories_list_page_story_block_info {
    width: 474px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.stories_list_page_story_block_info .education {
    margin-top: 12px;
    margin-bottom: 24px;
}
.from_name {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #181924;
    margin-bottom: 12px;
}
.our_goal_stories {
    color: #E11737;
}
.read_more_btn {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #E11737;
}
.read_more_btn:hover {
    color: black;
}
.stories_from_to_block {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}
.from_name_read_block {
    margin-top: 43px;
}
.ref_mentors_donation_block  {
    width: 130px;
    display: flex;
    flex-direction: column;
}
.ref_mentors_donation_title {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    text-transform: uppercase;
    color: #F4EDEA;
    margin-bottom: 4px;
}
.ref_mentors_donation_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.bg_bottom_right {
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 180px;
    height: auto;
    z-index: -1;
}
.bg_right_section {
    position: absolute;
    top: 600px;
    right: 0;
    width: 180px;
    height: auto;
    z-index: -1;
}
.bg_left_section {
    position: absolute;
    top: 1400px;
    left: 0;
    transform: rotate(180deg);
    width: 180px;
    height: auto;
    z-index: -1;
}


.help_video_block {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 55px;
}
.video_block {
    max-width: 344px;
    width: 100%;
    position: relative;
    z-index: 3;
}
.video_centr {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    text-align: center;
}
.video_popup_play {
    cursor: pointer;
}
.video_popup_play svg circle{
    transition: all 300ms ease-out;
}
.video_popup_play:hover svg circle{
    fill: white;
    transition: all 300ms ease-in;
}
.video_popup_play svg path{
    transition: all 300ms ease-out;
}
.video_popup_play:hover svg path{
    fill: #E11737;
    transition: all 300ms ease-in;
}

.help_title {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    text-transform: capitalize;
    color: #191923;
    line-height: 100px;
    margin-bottom: 28px;
}
.help_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #181924;
}
header .stories_from_to_block {
    justify-content: flex-start;
}
.stories_from_to_block_love a {
    margin-bottom: 36px;
    margin-right: 40px;
}
header .wrapper {
    position: relative;
}

.video_block::after {
    top: -470px;
    content: "";
    position: absolute;
    width: 1px;
    height: 98vh;
    left: 91px;
    z-index: -1;
    border-left: 1px solid #191923;
}
.video_block::before {
    top: -470px;
    content: "";
    position: absolute;
    width: 1px;
    height: 98vh;
    right: 91px;
    z-index: -1;
    border-left: 1px solid #191923;
}

.loader_animation  {
    position: absolute;
    right: -30vw;
    top: -200px;
    animation-name: load;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes load { 
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.find_it_first_block {
    background-image: url(../img/Group\ 8112.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #191923;
    border-radius: 24px;
    margin-top: 58px;
    padding: 52px 0;
}
.find_it_first_block_mini {
    margin: 0 auto;
    width: 410px;
    color: white;
    display: flex;
    flex-direction: column;
}
.find_it_first_block .general_title {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 24px;
}
.find_it_first_block span {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 17px;
}
.find_it_first_block form {
    display: flex;
    align-items: center;
}
.find_it_first_block input {
    padding: 15px 20px;
    width: 297px;
    height: 52px;
    background: rgba(34, 19, 117, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    color: #FFFFFF;
    margin-right: 24px;
}
.find_it_first_block input::placeholder {
    color: #B29ABC;
}
.stories_list_page_story_block_spec {
    margin: 120px 0;
}
.white_bg {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 150px;
}
.white_bg .page_adress_bloch  {
    margin-bottom: 52px;
}
.about_amia_mentorship_block {
    background-image: url(../img/Group\ 8124.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    margin-top: 120px;
    margin-bottom: 143px;
    padding: 20px 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 12px 12px 0px 12px;
}
.about_amia_mentorship_blockc .general_title {
    margin-bottom: 25px;
}
.about_amia_mentorship_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #E11737;
    margin-top: 25px;
    padding-bottom: 17px;
}
.about_amia_mentorship_text_info {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: black;
    padding-bottom: 17px;
}
.view_more {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: black;
    padding-bottom: 17px;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 300ms ease-out;
}
.view_more:hover {
    color: #E11737;
    transition: all 300ms ease-in;
}
.expert_btn {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #E11737;
    padding-bottom: 17px;
    text-transform: uppercase;
    transition: all 300ms ease-out;
}
.expert_btn:hover {
    color: black;
    transition: all 300ms ease-in;
}
.about_amia_view_more_block {
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    bottom: -35px;
    right: 0;
    padding: 12px 18px;
}

.brand {
    position: relative;
}
.brand_left_right_block {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.brand_left_block .page_adress_bloch {
    display: flex;
    flex-direction: column;
    margin-bottom: 76px;
}
.brand_left_block .page_adress_bloch span {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #181924;
    margin-bottom: 12px;
}
.brand_left_block {
    max-width: 603px;
    width: 100%;
}
.brand_in_progres_info_block {
    margin-top: 10px;
    margin-bottom: 24px;
}
.brand_in_progres_info_block h2 {
    font-family: "Commissioner_bold";
    margin-top: 24px;
    margin-bottom: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #191923;
}
.brand_in_progres_info_block_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #696B80;
}
.brand_in_progres_photo_block {
    display: flex;
    justify-content: space-between;
}
.brand_in_progres_photo {
    width: 448px;
    height: 298px;
    border-radius: 12px 0px 0px 0px;
}
.brand_in_progres_photo_don {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 5px;
    width: 143px;
    height: 298px;
    background-color: #FFFFFF;
    border-radius: 0px 12px 12px 0px;
}
.donation_day_price {
    display: flex;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #F4EDEA;
}
.donation_day_price span {
    text-align: left;
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #181924;
}

.donation_day_price svg {
    margin-right: 10px;
}
.brand_in_progres_procesing_block {
    width: 100%;
    background-color: white;
    position: relative;
    padding: 11px 24px;
    border-radius: 12px 12px 0px 12px;
}
.brand_in_progres_procesing_top_info {
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #181924;
}
.progres_diagram_block {
    margin: 7px 0;
    display: flex;
    text-align: center;
}

.progres_diagram_block progress.styled {
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 6px;
}
progress.styled::-webkit-progress-bar {
    background-color: #F4EDEA;
    border-radius: 3px;
}
progress.styled::-webkit-progress-value {
    background-color: black;
    background-image: linear-gradient(rgb(0, rgb(0, 0, 0)), rgb(0, 0, 0));
    border-radius: 3px;
}
progress.styled::-moz-progress-bar {
    background-color: black;
    background-image: linear-gradient(rgb(0, rgb(0, 0, 0)), rgb(0, 0, 0));
    border-radius: 3px;
}
.brand_in_progres_photo_don .text_btn_block a {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
}
.brand_in_progres_photo_don .text_btn_block a:hover {
    color: #E11737;
}

.brand_in_progres {
    margin-bottom: 148px;
}
.brand_in_progres_photo_don a svg path{
    transition: all 300ms ease-out;
}
.brand_in_progres_photo_don a:hover svg path{
    stroke: black;
    transition: all 300ms ease-in;
}

.brand_right_block {
    padding-top: 160px;
    padding-bottom: 148px;
}
.brand_right_block_fix {
    top: 40px;
    position: sticky;
}
.brand_right_block_fix_section {
    text-align: right;
    padding: 12px 0;
    width: 318px;
}
.brand_right_block_fix_section span {
    font-family: "Commissioner_light";
    font-weight: 600;
    font-size: 12px;
    text-align: right;
    color: #191923;
    margin-right: 17px;
}
.brand_right_block_fix_section a {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    text-transform: uppercase;
    color: black;
}
.brand_right_block_fix_section_active  a {
    color: #E11737;
}
.brand_right_block_fix_section_active {
    border-bottom: 1px solid #191923;
}
.vertical {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    padding-right: 30px;
    padding-left: 10px;
    height: 290px;
    border-left: 1px solid #191923;
    position: absolute;
    top: 0;
}
.vertical a {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #191923;
}
.vertical a:hover {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #E11737;
}
.header_red_text  {
    color: #E11737;
}

.video_block video {
    max-width: 344px;
    border-radius: 24px;
    object-fit: cover;
    height: 280px;
    cursor: pointer;
}
/* chem hishumem xiem drel anjatelem  */
/* ::-webkit-scrollbar {
    display: none;
} */
.video-popup {
    display: none;
    width: 100%;
    height: 100vh;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 10px 10px 10px 10px black;
}
.popup-bg {
    background: rgba(0,0,0,0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
}
.popup-content {
    background: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1024px;
    height: 622px;
}


.view_all_story_block {
    width: 100%;
    text-align: right;
    margin-top: 32px;
}
.view_all_story a {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    text-decoration-line: underline;
    color: #191923;
}
.view_all_story a:hover {
    color: #E11737;
}
