@media screen and (max-width:1440px) {
    .wrapper {
        max-width: none;
        width: auto;
        margin: 0 208px;
    }
}
@media screen and (max-width:1400px) {
    .video_block::before , .video_block::after {
        display: none;
    }
}
@media screen and (max-width:1367px) {
    .help_title {
        font-size: 67px;
        line-height: 75px;
    }
    .menu_nav_bar_block {
        gap: 15px;
    }
    .brand_in_progres_photo  {
        width: 400px;
    }
}
@media screen and (max-width:1240px) {
    .social_icon_block {
        padding-left: 15px;
        margin-left: 15px;
    }
    .about_amia_mentorship_block {
        padding: 15px 120px;
    }
    .wrapper  {
        margin: 0 150px;
    }
}
@media screen and (max-width:1290px) {
    .brand_in_progres_photo  {
        width: 380px;
    }
    .popup-content {
        width: 900px;
      }
}
@media screen and (max-width:1130px) {
    .wrapper  {
        margin: 0 80px;
    }
}

@media screen and (max-width:1024px) {
    .brand_in_progres {
        margin-bottom: 60px;
    }
    .stories_list_page_story_block_spec {
        margin: 60px 0;
    }
    .brand_in_progres_photo  {
        width: 448px;
    }
    .bg_right_section {
        display: none;
    }
    .bg_left_section {
        display: none;
    }
    .menu_nav_bar_block::after {
        display: none;
    }
    .brand {
        margin-bottom: 50px;
    }
    .help_title  {
        line-height: 60px;
    }
    .popup-content {
        width: 600px;
        height: 350px;
      }
    .video_block video {
        max-width: 100%;
        height: 300px;
        width: 100%;
    }
    .video_block  {
        max-width: 100%;
        height: 300px;
        width: 100%;
    }
    .stories_list_page_story_block_photo  {
        height: 350px;
    }
    .find_it_first_block {
        padding: 52px 50px;
    }
    .hel_block {
        margin-bottom: 25px;
    }
    .about_amia_mentorship_block {
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        padding: 15px 50px;
    }
    .loader_animation  {
       display: none;
    }
    .about_amia_mentorship_text {
        margin-top: 15px;
    }
    .page_adress_bloch {
        margin-bottom: 25px;
    }
    .white_bg {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .find_it_first_block {
        margin-top: 25px;
        padding: 20px 80px;
    }
    .about_amia_view_more_block {
        position: initial;
        background-color: transparent;
    }
    .help_title {
        font-size: 55px;
    }
    .help_video_block  {
        align-items: flex-start;
        flex-direction: column;
        gap: 10px;
    }
    footer {
        margin-top: 30px;
    }
    .wrapper {
        margin: 0 20px;
    }
    .menu_logo_block {
        margin-top: 25px;
    }
    .logo_block  {
        width: 110px;
        margin-right: 0;
    }
    .stories_list_page_story_block_photo {
        min-width: 300px;
    }
    .stories_list_page_story_block {
        margin-bottom: 25px;
    }
    .bg_bottom_right {
        right: -74px;
    }
    .menu_logo_block {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .menu_nav_bar_block {
        display: none;
    }
    .burger_btn {
        display: block;
    }
    .logo_block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo_block a {
        width: 80px;
    }
    .goal_block   {
        margin-right: 20px;
    }
    .goal_our_solution_block {
        margin-bottom: 20px;
    }
    footer .menu_logo_block {
        flex-direction: column;
        justify-content: center;
    }
    .footer_logo_menu_block {
        flex-direction: column;
    }
    .social_icon_block {
        padding-top: 15px;
        flex-direction: unset;
        padding-left: 0;
        margin-left: 0;
        margin-top: 15px;
        border-left: none;
    }
    .soc_centr {
        margin: 0 26px;
    }
    footer .logo_block  {
        justify-content: center;
        margin: 15px 0;
    }
    .footer_logo_menu_block .logo_block {
        margin-right: 0;
    }
    footer .menu_logo_block {
        border-top: none;
    }
    .social_icon_block {
        margin-top: 0;
    }
    .stories_list_page_story_block {
        flex-direction: column;
    }
    .stories_list_page_story_block_info {
        width: 100%;
    }
    .stories_list_page_story_block {
        gap: 10px;
    }
    .ref_mentors_donation_block {
        text-align: center;
    }
    .brand_right_block {
        display: none;
    }
    .brand_left_right_block {
        margin-top: 40px;
    }
    .brand_left_right_block {
        justify-content: center;
    }
    .brand_in_progres {
        margin-top: 50px;
    }
    .brand_in_progres_procesing_block {
        border-radius: 12px 12px 12px 12px;
    }
}
@media screen and (max-width:680px) {
    .video_block  {
        height: 200px;
    }
    .video_block video {
        height: 200px;
    }
    .help_title  {
        font-size: 50px;
    }
    .brand_left_block .page_adress_bloch {
        margin-bottom: 25px;
    }
    .donation_day_price {
        width: max-content;
    }
    .about_amia_view_more_block {
        padding: 12px 0;
    }
    .brand {
        margin-bottom: 0;
    }
    .stories_list_page_story_block_spec {
        margin: 30px 0;
    }
    .wrapper {
        margin: 0 10px;
    }
    .bg_right_section {
       display: none;
    }
    .bg_left_section {
        display: none;
    }
    .brand_in_progres_photo {
        width: 100%;
    }
    .brand_in_progres_photo img {
        border-radius: 12px 12px 0px 0px;
    }
    .brand_in_progres_photo_don {
        width: 100%;
        height: auto;
        border-radius: 0px 0px 12px 12px;
    }
    .brand_in_progres_photo_block {
        flex-direction: column;
    }
    .brand_in_progres_info_block h2 {
        font-size: 20px;
    }
    .popup-content {
        width: 260px;
        height: 260px;
      }
      .text_btn_block {
          margin-top: 0;
      }
      .ref_mentors_donation_block {
          margin-bottom: 15px;
      }
}

@media screen and (max-width:588px) {
    .find_it_first_block  {
        padding: 20px 0;
        background-size: cover;
    }
    .help_title {
        margin-bottom: 0;
    }
    .donat_our_program_block_info {
        flex-direction: column;
    }
    .text_btn_block {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .text_btn_block span {
        margin-right: 0;
        margin-bottom: 20px;
        text-align: center;
    }
    .support_project_block {
        margin-top: 20px;
    }
    .general_title {
        font-size: 14px;
    }
    .footer_logo_menu_block .logo_block {
        margin-top: 0;
    }
    .footer_nav_bar_block {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_nav_bar_block a {
        margin-bottom: 15px;
    }
    .education {
        font-size: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width:414px) {
    .find_it_first_block_mini {
        width: auto;
    }
    .find_it_first_block input {
        margin-right: 0;
        width: 80%;
        margin-bottom: 20px;
    }
    .find_it_first_block span {
        font-size: 12px;
    }
    .stories_list_page_story_block_text {
        font-size: 12px;
    }
    .stories_list_page_story_block_photo  {
        height: 250px;
    }
    .white_bg .page_adress_bloch {
        margin-bottom: 25px;
    }
    .about_amia_mentorship_text_info {
        font-size: 12px;
    }
    .brand_in_progres_photo {
        height: 200px;
    }
    .brand_in_progres_info_block_text {
        font-size: 12px;
    }
    .brand_in_progres_procesing_top_info  {
        font-size: 12px;
    }
    .brand_in_progres {
        margin-top: 25px;
    }
    .brand {
        margin-bottom: 25px;
    }
    .help_title {
        line-height: 25px;
    }
    .hel_block {
        margin-bottom: 15px;
    }
    .video_block {
        max-width: 100%;
        height: auto;
    }
    .about_amia_mentorship_block {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
    }
    .find_it_first_block form {
        flex-direction: column;
        align-items: flex-start;
    }
    .find_it_first_block {
        background-size: cover;
    }
    .view_more {
        font-size: 12px;
    }
    .expert_btn {
        font-size: 12px;
    }
    .brand_left_block .page_adress_bloch span {
        font-size: 16px;
    }
    .help_title {
        font-size: 25px;
    }
    .help_text {
        font-size: 14px;
    }
    .stories_from_to_block_love {
        flex-direction: column;
    }
    .stories_from_to_block_love a {
        margin-bottom: 10px;
        margin-right: 0;
    }
    footer {
        margin-top: 20px;
    }
    .general_title {
        font-size: 16px;
    }
    .stories_list_page_story_block_info .education {
        margin-bottom: 10px;
    }
    .from_name {
        font-size: 12px;
    }
    .read_more_btn {
        font-size: 12px;
    }
    .find_it_first_block .general_title {
        font-size: 20px;
    }
    .find_it_first_block {
        align-items: center;
        text-align: center;
    }
    .find_it_first_block form {
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}
