* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
body {
    min-width: 320px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}
.loader_image {
    width: 281px;
    height: 274px;
    position: absolute;
    animation-name: load;
    animation-duration: 8s;
    animation-timing-function: linear;
    background-image: url(../img/load.png);
    background-size: 100%;
    animation-iteration-count: infinite;
}
@keyframes load { 
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
img {
    width: 100%;
    height: auto;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    overflow: hidden;
}
.beauty_bg {
    width: 728px;
    height: 790px;
    position: absolute;
    bottom: -270px;
    right: -240px;
    transform: rotate(29deg);
}
@media screen and  (max-width:768px) {
    .loader_image {
        width: 140px;
        height: 140px;
    }
    .beauty_bg {
        width: 364px;
        height: 240px;
        bottom: -10px;
        right: -140px;
    }
}





