.bg_bottom_right {
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 180px;
    height: auto;
    z-index: -1;
}
.brand_left_block {
    width: 100%;
}
.brand_left_block .page_adress_bloch {
    margin-bottom: 24px;
}
.brand_in_progres_photo_block {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}
.brand_in_progres_photo {
    max-width: 869px;
    width: 100%;
    height: 298px;
    border-radius: 12px 0px 0px 0px;
}
.brand_in_progres_photo img {
    border-radius: 12px 0px 0px 0px;
}
.brand_in_progres_photo_don {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 5px;
    width: 143px;
    height: 298px;
    background-color: #FFFFFF;
    border-radius: 0px 12px 12px 0px;
}
.brand_in_progres_photo_don .text_btn_block a {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
}
.brand_in_progres_photo_don .text_btn_block a:hover {
    color: #E11737;
}
.brand_in_progres {
    margin-bottom: 82px;
}
.brand_in_progres_photo_don a svg path{
    transition: all 300ms ease-out;
}
.brand_in_progres_photo_don a:hover svg path{
    stroke: black;
    transition: all 300ms ease-in;
}
.brand_in_progres_photo_don {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 5px;
    width: 143px;
    height: 298px;
    background-color: #FFFFFF;
    border-radius: 0px 12px 12px 0px;
}
.donation_day_price {
    display: flex;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #F4EDEA;
}
.donation_day_price span {
    text-align: left;
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #181924;
}

.donation_day_price svg {
    margin-right: 10px;
}
.brand_in_progres_photo_don .text_btn_block a {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
}
.brand_in_progres_photo_don .text_btn_block a:hover {
    color: #E11737;
}
.brand_in_progres_procesing_block {
    width: 100%;
    background-color: white;
    position: relative;
    padding: 11px 24px;
    border-radius: 12px 12px 0px 12px;
}
.brand_in_progres_procesing_top_info {
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #181924;
}
.progres_diagram_block {
    margin: 7px 0;
    display: flex;
    text-align: center;
}
.progres_diagram_block progress.styled {
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 6px;
}
.progres_diagram_block progress.styled {
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 6px;
}
progress.styled::-webkit-progress-bar {
    background-color: #F4EDEA;
    border-radius: 3px;
}
progress.styled::-webkit-progress-value {
    background-color: black;
    background-image: linear-gradient(rgb(0, rgb(0, 0, 0)), rgb(0, 0, 0));
    border-radius: 3px;
}
progress.styled::-moz-progress-bar {
    background-color: black;
    background-image: linear-gradient(rgb(0, rgb(0, 0, 0)), rgb(0, 0, 0));
    border-radius: 3px;
}
.about_amia_view_more_block {
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    bottom: -35px;
    right: 0;
    padding: 12px 18px;
}
.about_amia_view_more_block {
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    bottom: -35px;
    right: 0;
    padding: 12px 18px;
}
.view_more:hover {
    color: #E11737;
    transition: all 300ms ease-in;
}
.view_more {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: black;
    padding-bottom: 17px;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 300ms ease-out;
}
.expert_btn {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #E11737;
    padding-bottom: 17px;
    text-transform: uppercase;
    transition: all 300ms ease-out;
}
.expert_btn:hover {
    color: black;
    transition: all 300ms ease-in;
}
.brand {
    position: relative;
}


.brand_in_progres_info_block h2 {
    font-family: "Commissioner_bold";
    margin-top: 24px;
    margin-bottom: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #191923;
}
.brand_in_progres_info_block_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #696B80;
}
.brand_in_progres_info_block {
    margin-top: 10px;
    margin-bottom: 24px;
}



.stories_block_inner {
    margin-bottom: 52px;
}
.stories_block_inner_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #696B80;
    margin-top: 12px;
}

.bg_update_left {
    height: 100%;
    width: 600px;
    position: absolute;
    left: -200px;
    top: 0;
    z-index: 0;
}
.updates_block {
    padding-bottom: 8px;
    background-image: url(../img/Group\ 8050.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    padding-top: 52px;
    margin-bottom: 120px;
}
.updates_block_info_all {
    position: relative;
    margin: 0 24px;
    overflow-y: scroll;
}
.updates_block_info {
    z-index: 2;
    max-width: 470px;
    height: 399px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.updates_block_info_title {
    max-width: 470px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}
.updates_day_name_text_block {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 25px;
}
.updates_day {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #696B80;
}
.updates_day_name {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: black;
}
.updates_day_name_text {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
}

.updates_block_info_all::-webkit-scrollbar {
    width: 10px;
}
.updates_block_info_all::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
    margin-right: 24px;
}



.scroll_info_block  {
    position: absolute;
    right: 12px;
    top: 14px;
}
.es  {
    position: sticky;
}

.scroll_info_block a {
  width: 117px;
  height: 40px;
  background-color: #191923;
  border-radius: 0px;
  color: white;
  padding: 9px 14px;
}
