@media screen and (max-width:1440px) {
    .wrapper {
        max-width: none;
        width: auto;
        margin: 0 208px;
    }
}
@media screen and (max-width:1240px) {
    .wrapper  {
        margin: 0 150px;
    }
}
@media screen and (max-width:1130px) {
    .wrapper  {
        margin: 0 80px;
    }
}
@media screen and (max-width:1024px) {
    .loader_animation  {
        display: none;
     }
    .about_amia_view_more_block {
        padding: 12px 0;
    }
    .search_project_block {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .support_a_project_info_text {
        font-size: 16px;
    }
    .support_a_project_info_block {
        margin-top: 30px;
    }
    .wrapper {
        margin: 0 20px;
    }
    .brand_in_progres {
        margin-bottom: 60px;
    }
    .bg_right_section {
        display: none;
    }
    .brand {
        margin-bottom: 50px;
    }
    .page_adress_bloch {
        margin-bottom: 25px;
    }
    .about_amia_view_more_block {
        position: initial;
        background-color: transparent;
    }
    .ref_mentors_donation_block {
        text-align: center;
    }
    .brand_right_block {
        display: none;
    }
    .brand_left_right_block {
        margin-top: 40px;
    }
    .brand_left_right_block {
        justify-content: center;
    }
    .brand_in_progres {
        margin-top: 50px;
    }
    .brand_in_progres_procesing_block {
        border-radius: 12px 12px 12px 12px;
    }
}
@media screen and (max-width:680px) {
    .brand_left_block .page_adress_bloch {
        margin-bottom: 25px;
    }
    .donation_day_price {
        width: max-content;
    }
    .about_amia_view_more_block {
        padding: 12px 0;
    }
    .brand {
        margin-bottom: 0;
    }
    .stories_list_page_story_block_spec {
        margin: 30px 0;
    }
    .brand_in_progres_photo {
        width: 100%;
    }
    .brand_in_progres_photo img {
        border-radius: 12px 12px 0px 0px;
    }
    .brand_in_progres_photo_don {
        width: 100%;
        height: auto;
        border-radius: 0px 0px 12px 12px;
    }
    .brand_in_progres_photo_block {
        flex-direction: column;
    }
    .brand_in_progres_info_block h2 {
        font-size: 20px;
    }
    .text_btn_block {
        margin-top: 0;
    }
    .wrapper {
        margin: 0 10px;
    }
}
@media screen and (max-width:414px) {
    .brand_in_progres_photo {
        height: 200px;
    }
    .brand_in_progres_info_block_text {
        font-size: 12px;
    }
    .brand_in_progres_procesing_top_info  {
        font-size: 12px;
    }
    .brand_in_progres {
        margin-top: 25px;
    }
    .brand {
        margin-bottom: 25px;
    }
    .view_more {
        font-size: 12px;
    }
    .expert_btn {
        font-size: 12px;
    }
    .brand_left_block .page_adress_bloch span {
        font-size: 16px;
    }
}