.bg_bottom_right {
    position: absolute;
    bottom: -100px;
    right: 0;
    width: 180px;
    height: auto;
    z-index: -1;
}
.bg_right_section {
    position: absolute;
    top: 1000px;
    right: 0;
    width: 644px;
    height: auto;
    z-index: -1;
}
.brand_left_right_block {
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
}

.brand_left_block .page_adress_bloch span {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #181924;
    margin-bottom: 12px;
}
.brand_left_block {
    max-width: 603px;
    width: 100%;
}
.page_adress_bloch a:hover {
    color: black;
}
.brand_left_block .page_adress_bloch {
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
}
.brand_in_progres_photo_block {
    display: flex;
    justify-content: space-between;
}
.brand_in_progres_photo_block {
    display: flex;
    justify-content: space-between;
}
.brand_in_progres_photo {
    width: 448px;
    height: 298px;
    border-radius: 12px 0px 0px 0px;
}
.brand_in_progres_photo_don {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 5px;
    width: 143px;
    height: 298px;
    background-color: #FFFFFF;
    border-radius: 0px 12px 12px 0px;
}
.brand_in_progres_photo_don .text_btn_block a {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
}
.brand_in_progres_photo_don .text_btn_block a:hover {
    color: #E11737;
}

.brand_in_progres {
    margin-bottom: 148px;
}
.brand_in_progres_photo_don a svg path{
    transition: all 300ms ease-out;
}
.brand_in_progres_photo_don a:hover svg path{
    stroke: black;
    transition: all 300ms ease-in;
}
.brand_in_progres_photo_block {
    display: flex;
    justify-content: space-between;
}
.brand_in_progres_photo {
    width: 448px;
    height: 298px;
    border-radius: 12px 0px 0px 0px;
}
.brand_in_progres_photo_don {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 20px 5px;
    width: 143px;
    height: 298px;
    background-color: #FFFFFF;
    border-radius: 0px 12px 12px 0px;
}
.donation_day_price {
    display: flex;
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #F4EDEA;
}
.donation_day_price span {
    text-align: left;
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #181924;
}

.donation_day_price svg {
    margin-right: 10px;
}
.brand_in_progres_photo_don .text_btn_block a {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #181924;
}
.brand_in_progres_photo_don .text_btn_block a:hover {
    color: #E11737;
}
.brand_in_progres_procesing_block {
    width: 100%;
    background-color: white;
    position: relative;
    padding: 11px 24px;
    border-radius: 12px 12px 0px 12px;
}
.brand_in_progres_procesing_top_info {
    display: flex;
    justify-content: space-between;
    align-self: center;
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: #181924;
}
.progres_diagram_block {
    margin: 7px 0;
    display: flex;
    text-align: center;
}
.progres_diagram_block progress.styled {
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 6px;
}
.progres_diagram_block progress.styled {
    display: block;
    border-radius: 3px;
    width: 100%;
    height: 6px;
}
progress.styled::-webkit-progress-bar {
    background-color: #F4EDEA;
    border-radius: 3px;
}
progress.styled::-webkit-progress-value {
    background-color: black;
    background-image: linear-gradient(rgb(0, rgb(0, 0, 0)), rgb(0, 0, 0));
    border-radius: 3px;
}
progress.styled::-moz-progress-bar {
    background-color: black;
    background-image: linear-gradient(rgb(0, rgb(0, 0, 0)), rgb(0, 0, 0));
    border-radius: 3px;
}
.about_amia_view_more_block {
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    bottom: -35px;
    right: 0;
    padding: 12px 18px;
}
.about_amia_view_more_block {
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 12px 12px;
    bottom: -35px;
    right: 0;
    padding: 12px 18px;
}
.view_more:hover {
    color: #E11737;
    transition: all 300ms ease-in;
}
.view_more {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: black;
    padding-bottom: 17px;
    text-transform: uppercase;
    margin-right: 15px;
    transition: all 300ms ease-out;
}
.expert_btn {
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #E11737;
    padding-bottom: 17px;
    text-transform: uppercase;
    transition: all 300ms ease-out;
}
.expert_btn:hover {
    color: black;
    transition: all 300ms ease-in;
}
.brand {
    position: relative;
}
.brand_right_block {
    padding-top: 174px;
    padding-bottom: 148px;
}
.brand_right_block_fix {
    top: 40px;
    position: sticky;
}
.brand_right_block_fix_section {
    margin-bottom: 12px;
    padding-left: 46px;
}
.brand_right_block_fix_section a {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    color: #E11737;
    width: 102px;
    height: 25px;
    background-color: transparent;
    border: 1px solid #E11737;
    padding: 2px;
}
.brand_right_block_fix_section_active  a {
    color: white;
    background-color: #E11737;
}
.brand_right_block_fix_section:hover  a {
    color: white;
    background-color: #E11737;
}
.brand_right_block_fix_section_active:hover  a {
    color: #E11737;
    background-color: transparent;
}
.vertical {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    padding-right: 30px;
    padding-right: 10px;
    height: 242px;
    border-left: 1px solid #191923;
    position: absolute;
    top: 0;
}
.vertical a {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #191923;
}
.vertical a:hover {
    font-family: "Commissioner_medium";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #E11737;
}


.brand_in_progres_info_block h2 {
    font-family: "Commissioner_bold";
    margin-top: 24px;
    margin-bottom: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #191923;
}
.brand_in_progres_info_block_text {
    font-family: "Commissioner_light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #696B80;
}
.stories_list_page_story_block_info .education {
    margin-top: 12px;
    margin-bottom: 24px;
}
.brand_in_progres_info_block {
    margin-top: 10px;
    margin-bottom: 24px;
}
.support_a_project_info_text {
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #181924;
    margin-top: 12px;
}
.page_adress_bloch {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.search_project_block {
    margin-top: 56px;
    padding-bottom: 9px;
    margin-bottom: 72px;
    width: 100%;
    border-bottom: 1px solid #191923;
}
.search_project_block form {
    display: flex;
}
.search_project_block form input {
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: black;
    background-color: transparent;
    border: transparent;
    margin-left: 16px;
}
.search_project_block form input::placeholder {
    color: #696B80;
}

.donat_our_program_block {
    position: relative;
}
.loader_animation  {
    width: 200px;
    height: 195px;
    position: absolute;
    right: -100px;
    bottom: 0;
    animation-name: load;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes load { 
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(36deg);
    }
    20% {
        transform: rotate(72deg);
    }
    30% {
        transform: rotate(108deg);
    }
    40% {
        transform: rotate(144deg);
    }
    50% {
        transform: rotate(180deg);
    }
    60% {
        transform: rotate(216deg);
    }
    70% {
        transform: rotate(252deg);
    }
    80% {
        transform: rotate(288deg);
    }
    90% {
        transform: rotate(324deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader_big   {
    width: 100%;
    height: 260px;
    position: relative;
    overflow: hidden;
    z-index: 5;
}
.loader_main {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
}
main {
    position: relative;
}