* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
@font-face {
    font-family: "Commissioner_Bold";
    src: url("../fonts/Commissioner-Bold.ttf");
}
@font-face {
    font-family: "Commissioner_Light";
    src: url("../fonts/Commissioner-Light.ttf");
}
@font-face {
    font-family: "Commissioner_Medium";
    src: url("../fonts/Commissioner-Medium.ttf");
}
body {
    min-width: 320px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}
img {
    width: 100%;
    height: auto;
}
section {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.erro_page_block {
    padding: 0 15px;
    margin-top: 12px;
    width: 612px;
    height: 268px;
    background-color: rgba(196, 196, 196, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.erro_page_block h1 {
    font-family: "Commissioner_Bold";
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    text-transform: uppercase;
}
.erro_page_block a {
    z-index: 2;
    font-family: "Commissioner_bold";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: all 500ms ease-out;
    margin-top: 39px;
    position: relative;
}
.erro_page_block a svg {
    z-index: -1;
    position: absolute;
    left: -7px;
    top: -6px;
}
.erro_page_block a:hover svg path {
    stroke: white;
    transition: all 300ms ease-in;
}
.erro_page_block a svg path {
    transition: all 300ms ease-out;
}
.erro_page_block a:hover {
    transition: all 500ms ease-in;
    color: #E11737;
}
.error_text span {
    font-family: "Commissioner_Light";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    color: #E11737;
}
.logo_block {
    width: 148px;
    height: 79px;
    position: absolute;
    left: 208px;
    top: 85px;
}


@media screen and  (max-width:1024px) {
    .erro_page_block {
        width: 374px;
        height: 268px;
    }
    .erro_page_block h1 {
        font-size: 40px;
    }
    .logo_block {
        width: 110px;
        height: auto;
        left: 20px;
        top: 35px;
    }
}
@media screen and  (max-width:414px) {
    .erro_page_block {
        width: 260px;
        height: 180px;
    }
    .erro_page_block h1 {
        font-size: 24px;
    }
    .erro_page_block a {
        margin-top: 12px;
        font-size: 12px;
    }
    .logo_block {
        width: 90px;
        height: auto;
    }
    .erro_page_block a svg {
        width: 40px;
        left: -5px;
        top: -7px;
    }
}







